body{
  font-family:Arial;
  background:#fff0f5;
  text-align:center;
  margin:0;
  padding:30px;
}
.card{
  background:white;
  padding:30px;
  border-radius:15px;
  box-shadow:0 5px 20px rgba(0,0,0,0.1);
}
button{
  background:#d4af37;
  color:white;
  border:none;
  padding:10px 20px;
  border-radius:8px;
  cursor:pointer;
}
input{
  padding:10px;
  width:80%;
}
.success{color:green}
.warning{color:orange}
.error{color:red}

.card-premium{
  background:white;
  padding:25px;
  border-radius:15px;
  box-shadow:0 8px 25px rgba(0,0,0,0.15);
  margin-top:20px;
}

.btn-premium{
  background:#d4af37;
  color:white;
  border:none;
  padding:12px 25px;
  border-radius:8px;
  font-weight:bold;
  cursor:pointer;
}
