body{
  font-family:Arial;
  background:#fff0f5;
  text-align:center;
  margin:0;
  padding:30px;
}
.card{
  background:white;
  padding:30px;
  border-radius:15px;
  box-shadow:0 5px 20px rgba(0,0,0,0.1);
}
button{
  background:#d4af37;
  color:white;
  border:none;
  padding:10px 20px;
  border-radius:8px;
  cursor:pointer;
}
input{
  padding:10px;
  width:80%;
}
.success{color:green}
.warning{color:orange}
.error{color:red}
